.site-event-details{
  background-color: transparentize($primary-color1, 0.3) ;
  padding: 5px 60px;
  border-radius: $border-radius1;

  ul.pagination{
    margin-top: 50px;
  }

  pre{
    margin-top: 30px;
    &.event-description{
      font-size: 1.1em;
    }
  }
}