.site-schedule{
  //background-color: transparentize($primary-color1, 0.2) ;
  padding: 5px 60px;
  border-radius: $border-radius1;

  table {
    border-collapse:separate;
    border-spacing: 0 1em;
  }
  tbody tr{
    height: 60px;
    display: none;
    td{
      width: 20%;
    }
  }

  .display-row{
    display: table-row;
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
  }

  .table-row-color{
    background-color: transparentize($primary-color2, 0.6) ;
  }
  .table-row-color2{
    background-color: transparentize($primary-color1, 0.6) ;
  }
}