$primary-color1: lighten(#77E7FD, 15%);
$primary-color2: lighten(#E678DE, 8%);
$secondary-color1: #FE795F;
$secondary-color2: #FECD5F;
$secondary-color3: #E6E656;

$font-color: #555;
$font-color2: white;


$border-radius1: 4px;
